In [2]:
import pandas as pd
df = pd.read_csv(r"R:\\Ahan_Da\\code\\Week1\\Dataset\\df_ar.csv\\df_ar.csv")

In [3]:
df.head(10)

,id,language,essay_id,text,score
0,bc0267f_ar,ar,bc0267f,Cars have dramatically changed the way humans ...,3
1,722e307_ar,ar,722e307,The Seagoing Cowboys program is a once-in-a-li...,4
2,fe92183_ar,ar,fe92183,My position on self-driving cars is that I per...,2
3,eb67811_ar,ar,eb67811,My personal opinion is to preserve the elector...,3
4,50d9fe2_ar,ar,50d9fe2,When you compare the Mona Lisa's smile to the ...,1
5,ff331cc_ar,ar,ff331cc,How can we stop pollution from destroying the ...,3
6,a420b2e_ar,ar,a420b2e,"Vote for me, the other guy what's going to tak...",1
7,dace458_ar,ar,dace458,"Wow, have you seen this face on Mars! It was a...",2
8,38b93a3_ar,ar,38b93a3,"Will Venus really be explored? In my opinion, ...",3
9,10b3a40_ar,ar,10b3a40,In this writing I will support the authors' ar...,4

In [5]:
df['text'][3]

'My personal opinion is to preserve the electoral college.\xa0 So far, this process has worked for us and I don\'t think we should change it.\n\nOne of the reasons I think we should keep the Electoral College is because of “certain results.”\xa0 Most states award electoral votes on a winner-takes-all basis.\xa0 Sometimes, even very slight plurality in a state results in a landslide electoral vote victory in that state.\xa0 It is very unlikely that there is a connection to this system as well, because the total number of votes - 538 - is an even number.\n\nAnother reason I support the Electoral College is that no district can receive enough electoral votes to elect a president.\xa0 A candidate has no reason to campaign only in his or her district; They can spend more time elsewhere rather than relying solely on electoral votes.\n\nI also believe that we should avoid the problem of elections in which no candidate receives a majority of the votes cast.\xa0 There is pressure to hold runoff elections when no candidate wins a majority of votes.\xa0 The electoral vote is declared the winner in this case.\n\nSome people seem to agree that we would be better off without the Electoral College.\xa0 They argue that it is "unfair, outdated and irrational".\n\nOverall, I think we should keep the US Electoral College.'

In [6]:
df['text'].str.lower()

0        cars have dramatically changed the way humans ...
1        the seagoing cowboys program is a once-in-a-li...
2        my position on self-driving cars is that i per...
3        my personal opinion is to preserve the elector...
4        when you compare the mona lisa's smile to the ...
                               ...
17283    driverless cars? let's talk about that. in 201...
17284    the author stresses that studying venus is a w...
17285    venus is a challenge for humans because venus ...
17286    astronauts risk their lives by exploring diffe...
17287    venus is the second planet and also the hottes...
Name: text, Length: 17288, dtype: object

In [7]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [8]:
df['text'].apply(remove_html_tags)

0        Cars have dramatically changed the way humans ...
1        The Seagoing Cowboys program is a once-in-a-li...
2        My position on self-driving cars is that I per...
3        My personal opinion is to preserve the elector...
4        When you compare the Mona Lisa's smile to the ...
                               ...
17283    Driverless cars? Let's talk about that. In 201...
17284    The author stresses that studying Venus is a w...
17285    Venus is a challenge for humans because Venus ...
17286    Astronauts risk their lives by exploring diffe...
17287    Venus is the second planet and also the hottes...
Name: text, Length: 17288, dtype: object

In [9]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [10]:
df['text'].apply(remove_url)

0        Cars have dramatically changed the way humans ...
1        The Seagoing Cowboys program is a once-in-a-li...
2        My position on self-driving cars is that I per...
3        My personal opinion is to preserve the elector...
4        When you compare the Mona Lisa's smile to the ...
                               ...
17283    Driverless cars? Let's talk about that. In 201...
17284    The author stresses that studying Venus is a w...
17285    Venus is a challenge for humans because Venus ...
17286    Astronauts risk their lives by exploring diffe...
17287    Venus is the second planet and also the hottes...
Name: text, Length: 17288, dtype: object

In [11]:
import string , time 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
exclude =  string.punctuation

In [15]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [16]:
df['text'].apply(remove_punc)

0        Cars have dramatically changed the way humans ...
1        The Seagoing Cowboys program is a onceinalifet...
2        My position on selfdriving cars is that I pers...
3        My personal opinion is to preserve the elector...
4        When you compare the Mona Lisas smile to the s...
                               ...
17283    Driverless cars Lets talk about that In 2013 B...
17284    The author stresses that studying Venus is a w...
17285    Venus is a challenge for humans because Venus ...
17286    Astronauts risk their lives by exploring diffe...
17287    Venus is the second planet and also the hottes...
Name: text, Length: 17288, dtype: object

In [24]:
from nltk.corpus import stopwords

In [25]:
stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [27]:
def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [29]:
text = "Hello , my name is Debajyoti Paul"

In [32]:
remove_stopwords(text)

'Hello ,  name  Debajyoti Paul'

In [43]:
sent1 = 'I am going to Delhi!'
sent2 = ' Mail us at deb.paul22@gmail.com'
sent3 = ' a 5km ride cost $40.95'

In [39]:
import re
tokens = re.findall("[\W']+", sent1)
tokens

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\TEMP\ipykernel_336\1024742495.py:2: SyntaxWarning: invalid escape sequence '\W'
  tokens = re.findall("[\W']+", sent1)

[' ', ' ', ' ', ' ', '!']

In [40]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [41]:
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'Delhi', '!']

In [44]:
sent1 = 'I am going to Delhi!'
sent2 = ' Mail us at deb.paul22@gmail.com'
sent3 = ' a 5km ride cost $40.95'

In [45]:
word_tokenize(sent2)

['Mail', 'us', 'at', 'deb.paul22', '@', 'gmail.com']

In [46]:
word_tokenize(sent3)

['a', '5km', 'ride', 'cost', '$', '40.95']

In [52]:
from nltk.stem.porter import PorterStemmer

In [53]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [54]:
sample = "walk walking walked walks"
stem_words(stem_words(sample))

'walk walk walk walk'

In [55]:
import nltk
from nltk.stem import WordNetLemmatizer
Wnl = WordNetLemmatizer()